.layout > main {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

@media (max-width: 500px) {
  .layout > main {
    height: 100%;
  }
}