.search-container {
  height: 480px;
  width: 500px;
  background: rgb(255, 255, 255);
  border-radius: 18px;
  box-shadow: 0px 0px 10px -2px #000000;
  margin: 20px auto;
  padding: 20px 40px 40px;
  overflow: scroll;
}

.search-container::-webkit-scrollbar {
  display: none;
}

.search-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 20px;
}

.logo-img {
  height: 170px;
  width: 170px;
  align-self: center;
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.search-options {
  width: 100%;
  margin-bottom: 15px;
}

.search-options > button {
  height: 40px;
  width: 50%;
  font-size: 18px;
  background: #f38a00;
}

.search-options > button:not(.outlined) {
  cursor: default;
}

.search-options > button:hover:not(.outlined),
.search-options > button:active:not(.outlined) {
  background: #f38a00;
}

.search-options > button:nth-child(1) {
  border-radius: 6px 0 0 6px;
}

.search-options > button:nth-child(2) {
  border-radius: 0 6px 6px 0;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.search-form > .input {
  margin-top: 15px;
  margin-bottom: 40px;
}

.search-form > .dropdown {
  margin-bottom: 13px;
}

.search-form > .dropdown > div > div {
  border-color: #727272;
}

.search-form > .dropdown > div > div {
  border-color: #727272;
}

.search-form > button {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form > button > svg {
  margin-right: 12px;
}

@media(max-width:500px) {
  .search-container {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;

    margin: 0;
    padding: 20px 0 40px;
  }

  .search-options > button {
    width: 100%;
  }

  .search-options > button:nth-child(1) {
    border-radius: 6px 6px 0 0;
  }
  
  .search-options > button:nth-child(2) {
    border-radius: 0 0px 6px 6px;
  }
}