.aboutus-page {
  height: 100%;
  width: 100vw;
  overflow: auto;
}

.animated {
  overflow-x: hidden;
  position: relative;
  background-image: linear-gradient( #FF8E7B, #F6D19C);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.animated img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

#camomila {
  width: 150px;
  bottom: 40%;
  left: 85%;
}

#girassol {
  width: 150px;
  bottom: 70%;
  left: 75%;
}

#lavanda{
  width: 150px;
  bottom: 60%;
  left: 0%;
}

#hibisco {
  width: 150px;
  bottom: 70%;
  margin-right: 40%;
  left: 20%;
}

#cha {
  width: 150px;
  bottom: 50%;
  left: 65%;
}

#molecula {
  width: 100px;
  bottom: 5%;
  left: 1%;
}

#earth {
  width: 100px;
  bottom: 5%;
  left: 10%;
}

#heart {
  width: 100px;
  bottom: 5%;
  left: 20%;
}

#logo {
  width: 250px;
  bottom: 20%;
}

.about-us {
  background-color: #F6D19C;
  padding: 20px;
  display: block;
  justify-content: center;
  
}

.delimitation {
  width: 100%;
  max-width: calc(min(100%, 1000px));
  margin: 0 auto;
}

.pilares {
  width: 100%;
  max-width: calc(min(100%, 1100px));
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pilares > div {
  flex: 1;
  margin-top: 30px;
}

.card {
  min-height: 340px;
  width: 25%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: 1px solid black;
  border-radius: 30px;
  margin: 10px;
}

.card img {
  width: 150px;
}

.about-us h1 {
  color: #475326;
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.delimitation p,
.delimitation span {
  color: #475326;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  text-align: justify;
}


@media (max-width: 1000px){
    .card {
      width: 90%;
    }
    .pilares {
      flex-direction: column;
    }
}

@media (max-width: 700px) {
  .about-us h1 {
    color: #475326;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
  }

  .delimitation p,
  .delimitation span {
    font-size: 26px;
    text-align: start;
  }

  #camomila {
    width: 110px;
  }
  
  #girassol {
    width: 110px;
  }
  
  #lavanda{
    width: 110px;
  }
  
  #hibisco {
    width: 110px;
  }
  
  #cha {
    width: 110px;
  }
  
  #molecula {
    width: 110px;
  }
  
  #earth {
    width: 110px;
    left: 20%;
  }
  
  #heart {
    width: 80px;
    left: 40%;
  }
  
  #logo {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .delimitation p,
  .delimitation span {
    font-size: 20px;
  }

  .animated {
    height: calc(100vh - 200px);
  }

  #camomila {
    width: 80px;
  }
  
  #girassol {
    width: 80px;
  }
  
  #lavanda{
    width: 80px;
  }
  
  #hibisco {
    width: 80px;
  }
  
  #cha {
    width: 80px;
  }
  
  #molecula {
    width: 60px;
  }
  
  #earth {
    width: 60px;
  }
  
  #heart {
    width: 60px;
  }
  
  #logo {
    width: 200px;
  }
}