.results-page {
  height: 100%;
  width: 100vw;
  max-width: calc(min(800px, 100vw) + 250px);
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px -2px #000;
  clip-path: inset(0px -15px 0px -15px);
}

.results {
  width: 100%;
  max-width: calc(min(800px, 100vw));
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  overflow: auto;
}

.results-title {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.results-title > a {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #5f5f5f;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background 0.2s;
}

.results-title > a:hover {
  background: rgba(220, 99, 107, 0.342);
}

.results-title > a > svg {
  height: 30px;
  width: 30px;
}

.results-boxes {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

@media(max-width: 1000px) {
  .results-boxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 500px) {
  .results {
    padding: 20px;
  }

  .results-title {
    font-size: 14px;
  }

  .results-title > a {
    margin-right: 8px;
  }

  .results-boxes {
    margin-top: 40px;
    grid-gap: 30px;
  }
}